*{
 margin: 0;  
 padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}
.cabeçalho{ 
    background-color: #1cce0c;
    color: rgb(238, 245, 236);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
} 

.cabeçalho-imagem{
    width: 20%;
}

.cabeçalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 20px;
}

.agricultura-imagem{
   width: 20%;
}

.agricultura{ 
    background-image: linear-gradient(#42c542, #46a535);
    color: rgb(240, 247, 239);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.agricultura-div-conteudo{
    width: 35%;
}
.projeto-titulo{
    padding: 24px 0;
}
.agricultura-imagem{
    width: 100px;
}

.necessidade-icone{
    width: 24px;
}

.icone-div{
    text-align: center;
}

.agricultura-título{
text-align: center;
padding: 30px 0;
}

.estudante-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.icone{
    color: rgb(243, 245, 242);
    background-color: #1cce0c;
    font-size: small;
}


